{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% block title %}{{ 'sylius.ui.qpay_payment'|trans }}{% endblock %}

{% block content %}
    <div class="ui segment">

        {% set payment = order.lastPayment('new') %}

        {% if payment %}
            {% include '@TsetseeSyliusQpayPlugin/qr.html.twig' with payment.details %}
        {% endif%}
    </div>
{% endblock %}
